.wrapper {
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

header {
    background-color: #FEDCD2;
    text-align:center;
}

body {
    
}
article{
    padding: 1.5em;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: #DF744A;
}

nav ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    background-color: #FEDCD2;
}

nav li{
    background-color: #FEDCD2;
    margin-right: auto;
    margin-left: auto;
    padding: 1em;
    flex-direction: row
}


footer {
    background-color: #FEDCD2;
    padding: 1em;
    flex-direction: row

}

@media all and (min-width:600px){
    .aside{flex: 1 auto;}
}

@media all and (min-width: 800px){
    .main {flex: 3 0 px}
    .
}

h1{
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
    font-variant-caps:small-caps;
    font-size: 4em;
    line-height: 1em;
    color: #8fd8d2;
    text-align: center;
}

li{
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    color:#DF744A
}